{% extends 'base.html' %}

{% block meta %}
    <style>

        .info-container {
            display: flex;
            justify-content: space-between;
            padding: 10px;
        }

        .info-container > div {
            width: 100%;
            margin-right: 1px;
        }

        .alert {
            margin: 10px;
            font-size: 20px;
        }

        .alert span {
            font-weight: bolder;
        }

        .btn-group a button {
            margin: 5px;
        }

        #item_collection {
            margin-right: 5px;
            margin-left: 5px;
        }

        .center-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
        }

        .btn-logout {
            display: flex;
            align-items: center;
        }

        .btn-logout a {
            margin-right: 10px;
            margin: 10px;
        }
        

    </style>
{% endblock meta %}

{% block content %}

    <div id="amount_info"></div>

    <div id="item_collection" class="row row-cols-3 row-cols-md-2 g-4"></div>

    <br />

    <!-- MODAL ADD ITEM -->
    <div class="modal fade" id="AddItemModal" tabindex="-1" aria-labelledby="AddModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="AddModalLabel">Add New Item</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formAdd" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div>
                            <label for="amount" class="col-form-label">Amount:</label>
                            <input type="number" class="form-control" id="amount" name="amount"></input>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="col-form-label">Price:</label>
                            <input type="number" class="form-control" id="price" name="price"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Item</button>
                </div>
            </div>
        </div>
    </div>


    <!-- MODAL EDIT ITEM -->
    <div class="modal fade" id="EditItemModal" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="EditModalLabel">Edit Item</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formEdit" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div>
                            <label for="amount" class="col-form-label">Amount:</label>
                            <input type="number" class="form-control" id="amount" name="amount"></input>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="col-form-label">Price:</label>
                            <input type="number" class="form-control" id="price" name="price"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_edit" data-bs-dismiss="modal" data-id="">Edit Item</button>
                </div>
            </div>
        </div>
    </div>


    <div class="center-container">
        <button type="button" class="btn btn-primary btn-new-item" data-bs-toggle="modal" data-bs-target="#AddItemModal" style="font-weight: 500; 
        font-size: 20px; padding: 10px;">Add Item</button>
    </div>

    <div class="btn-logout">
        <h5 style="margin: 10px;">Sesi terakhir login: {{ last_login }}</h5>
        <a class="btn btn-danger" href="{% url 'main:logout' %}" role="button">Logout</a>
    </div>



    <script>
        
        async function getItems(){
            return fetch("{% url 'main:get_item_json' %}").then((res) => res.json())
        }

        async function refreshItems(){
            const items = await getItems();
            const amountInfo = document.getElementById("amount_info")
            const itemCards = document.getElementById("item_collection");
            amountInfo.innerHTML = "";
            itemCards.innerHTML = "";

            let htmlString = `
                <div class="alert alert-info" role="alert">
                    Kamu telah menyimpan <span>${items.length}</span> buah barang dalam inventori!
                </div>
            `;
            document.getElementById("amount_info").innerHTML = htmlString;
            
            items.forEach((item) => {
                const card = document.createElement("div");
                card.classList.add("col-md-4");
                card.innerHTML = `
                <div class="card h-100 border-secondary">
                    <div class="card-body">
                        <h5 class="card-title">${item.fields.name}</h5>
                        <div class="card-text">
                            <p><b>Date Added: </b>${item.fields.date_added}</p>
                            <p><b>Amount: </b>${item.fields.amount}</p>
                            <p><b>Harga: </b>${item.fields.price}</p>
                            <b>Description:</b>
                            <p>${item.fields.description}</p>
                        </div>
                    </div>

                    <div class="card-footer d-flex align-items-center justify-content-center">
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <button type="button" class="btn btn-outline-danger button_remove" data-id=${item.pk}>
                                Remove Item
                            </button>
                            <button type="button" class="btn btn-outline-primary btn-iter-edit" data-bs-toggle="modal" data-bs-target="#EditItemModal" data-id=${item.pk}>
                                Edit
                            </button>
                        </div>
                    </div>
                </div>
                `;

                const editButton = card.querySelector(".btn-iter-edit")
                const editModalButton = document.getElementById("button_edit")
                editButton.addEventListener("click", function() {
                    editModalButton.setAttribute("data-id", item.pk)
                })

                itemCards.appendChild(card);

            })            
        }

        refreshItems();


        function editItem(id) {
            fetch(`edit-item-ajax/${id}/`, {
                method: 'POST',
                body: new FormData(document.querySelector('#formEdit'))
            }).then(refreshItems);

            document.getElementById("formEdit").reset();
            return false;
        }

        function addItem(){
            fetch("{% url 'main:add_item_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#formAdd'))
            }).then(refreshItems)
            
            document.getElementById("formAdd").reset();
            return false;
        }

        function removeItem(id) {
            fetch(`remove-item-ajax/${id}`, {
                method: 'DELETE'
            }).then(response => {
                if (response.ok){
                    refreshItems();
                } else {
                    console.error('Failed to delete item')
                }
            })
        }

        document.addEventListener('click', function(e) {
            if (e.target && e.target.classList.contains('button_remove')) {
                let itemId = e.target.getAttribute('data-id');
                removeItem(itemId);
            }
        });

        document.getElementById("button_edit").addEventListener("click", function () {
            const itemId = this.getAttribute("data-id");
            editItem(itemId);

            this.setAttribute("data-id", "");
        });


        document.getElementById("button_add").onclick = addItem;

    </script>

{% endblock content %}